body {
  display: grid;
  grid-template-rows: 1fr 2.7fr;
  height: 100vh;
}
body header {
  display: grid;
  grid-template-rows: 8rem 4rem;
  background: #fff;
}
body header .upper-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: dashed 2px;
}
body header .upper-nav .logo {
  display: flex;
  justify-content: space-between;
}
body header .upper-nav .logo .responsive-buttons {
  visibility: hidden;
}
body header .upper-nav .logo .responsive-buttons #navBar-loader {
  margin-top: 20%;
  height: 6rem;
  width: 6rem;
  background-color: white;
  border: none;
  font-size: 4rem;
  color: #3c4761;
  display: block;
}
body header .upper-nav .logo .responsive-buttons #navBar-cancel {
  margin-top: 20%;
  height: 6rem;
  width: 6rem;
  background-color: white;
  border: none;
  font-size: 4rem;
  color: #3c4761;
  display: none;
}
body header .upper-nav .nav_right {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
body header .upper-nav .nav_right .search-wrapper {
  display: flex;
  flex-direction: row;
  border: 3px solid #3c4761;
  height: 2rem;
}
body header .upper-nav .nav_right .search-wrapper .search-parent {
  display: flex;
  flex-direction: row;
}
body header .upper-nav .nav_right .search-wrapper .search-parent button {
  height: 2rem;
  border: none;
  background: none;
}
body header .upper-nav .nav_right .search-wrapper .search-parent #search_box {
  height: 1.9rem;
  width: 10rem;
  border: none;
  outline: none;
  font-size: 1rem;
  transition: width 0.4s ease-in-out;
}
body header .upper-nav .nav_right .search-wrapper .search-parent #search_box:focus {
  width: 15rem;
}
body header .upper-nav .nav_right #login {
  height: 3rem;
  font-size: 1.2rem;
}
body header .upper-nav .nav_right #login span {
  display: inline-block;
  margin-right: 2rem;
}
body header .upper-nav .nav_right #login i {
  margin-top: 1rem;
  margin-left: 2rem;
}
body header .upper-nav .nav_right #login:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .upper-nav .nav_right #contact {
  height: 3rem;
  font-size: 1.2rem;
}
body header .upper-nav .nav_right #contact .p_contact {
  display: inline-block;
  margin-right: 1.8rem;
}
body header .upper-nav .nav_right #contact i {
  margin-top: 1rem;
  margin-left: 1.8rem;
}
body header .upper-nav .nav_right #contact:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .upper-nav .nav_right #register {
  height: 3rem;
  font-size: 1.2rem;
}
body header .upper-nav .nav_right #register span {
  display: inline-block;
  margin-right: 1.8rem;
}
body header .upper-nav .nav_right #register i {
  margin-top: 1rem;
  margin-left: 1.8rem;
}
body header .upper-nav .nav_right #register:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .upper-nav .nav_right #account-sect {
  padding-top: 1rem;
  height: 3rem;
  font-size: 1.2rem;
}
body header .upper-nav .nav_right #account-sect #my_account {
  width: 8rem;
  height: 3rem;
  background-color: #fff;
  border: none;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  gap: 0.5rem;
}
body header .upper-nav .nav_right #account-sect #my_account:hover {
  color: #fff;
}
body header .upper-nav .nav_right #account-sect .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body header .upper-nav .nav_right #account-sect .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
body header .upper-nav .nav_right #account-sect .dropdown-content a:hover {
  background-color: #ddd;
}
body header .upper-nav .nav_right #account-sect:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .upper-nav .nav_right #account-sect:hover #my_account {
  background-color: #3c4761;
}
body header .lower_nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-right: 50rem;
}
body header .lower_nav #home {
  height: 3rem;
  font-size: 1.2rem;
}
body header .lower_nav #home span {
  display: inline-block;
}
body header .lower_nav #home i {
  margin-top: 1.2rem;
  margin-left: 2rem;
}
body header .lower_nav #home:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .lower_nav #services {
  height: 3rem;
  font-size: 1.2rem;
}
body header .lower_nav #services .serv-img {
  width: 9rem;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
}
body header .lower_nav #services .serv-img i {
  margin-left: 0.5rem;
}
body header .lower_nav #services:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .lower_nav #services:hover .serv-img {
  background-color: #3c4761;
  color: #ddd;
}
body header .lower_nav #projects {
  height: 3rem;
  font-size: 1.2rem;
}
body header .lower_nav #projects span {
  display: inline-block;
}
body header .lower_nav #projects i {
  margin-top: 1.2rem;
  margin-left: 2rem;
}
body header .lower_nav #projects:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .lower_nav #clients {
  height: 3rem;
  font-size: 1.2rem;
}
body header .lower_nav #clients span {
  display: inline-block;
}
body header .lower_nav #clients i {
  margin-top: 1.2rem;
  margin-left: 2rem;
}
body header .lower_nav #clients:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .lower_nav #about {
  height: 3rem;
  font-size: 1.2rem;
}
body header .lower_nav #about .about-img {
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
  background-color: #fff;
}
body header .lower_nav #about .about-img #about_icon {
  margin-left: 1.3rem;
}
body header .lower_nav #about:hover {
  background-color: #3c4761;
  color: #fff;
}
body header .lower_nav #about:hover .about-img {
  background-color: #3c4761;
  color: #ddd;
}
body header .overlay img {
  width: 0;
}
body main img {
  width: 100vw;
}
body #login_page {
  background-color: #3c4761;
  opacity: 0.7;
  height: 0;
  width: 100vw;
  position: absolute;
  transition: height 1s;
  visibility: hidden;
}
body #login_page #cancel_button {
  float: right;
  height: 6rem;
  width: 6rem;
  background-color: #3c4761;
  border: none;
}
body #login_page #cancel_button #cross_mark {
  font-size: 3.5rem;
  color: #ddd;
}
body #login_page h2 {
  text-align: center;
  margin-top: 20rem;
  font-size: 3rem;
  color: #ddd;
  font-weight: 10;
}
body .display-serv {
  display: none;
  margin-top: 11rem;
  position: absolute;
}
body .display-serv .service-sect {
  width: 100vw;
  height: 25rem;
  display: grid;
  grid-template-rows: 1fr 5fr;
}
body .display-serv .service-sect .title {
  background-color: #3c4761;
}
body .display-serv .service-sect .title p {
  color: #ddd;
  font-size: 2rem;
}
body .display-serv .service-sect .service-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ddd;
}
body .display-serv .service-sect .service-container .first-sect p {
  color: black;
  font-size: 1.5rem;
}
body .display-serv .service-sect .service-container .first-sect a {
  color: #3c4761;
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .display-serv .service-sect .service-container .first-sect a:hover {
  color: #ddd;
  background-color: #3c4761;
}
body .display-serv .service-sect .service-container .second-sect p {
  color: black;
  font-size: 1.5rem;
}
body .display-serv .service-sect .service-container .second-sect a {
  color: #3c4761;
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .display-serv .service-sect .service-container .second-sect a:hover {
  color: #ddd;
  background-color: #3c4761;
}
body .display-serv .service-sect .service-container .third-sect p {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}
body .display-serv .service-sect .service-container .third-sect a {
  color: #3c4761;
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .display-serv .service-sect .service-container .third-sect a:hover {
  color: #ddd;
  background-color: #3c4761;
}
body .about-display {
  margin-top: 11rem;
  position: absolute;
  background-color: #3c4761;
  display: none;
}
body .about-display .about-container {
  width: 100vw;
}
body .about-display .about-container p {
  display: inline-block;
  color: #ddd;
  font-size: 1.3rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 1380px) {
  html body {
    background-color: #3c4761;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  html body header {
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  html body header .upper-nav {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  html body header .upper-nav .logo .responsive-buttons {
    visibility: visible;
  }
  html body header .upper-nav .nav_right {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  html body header .upper-nav .nav_right .search-wrapper {
    display: flex;
    flex-direction: row;
    border: 3px solid #3c4761;
    height: 5rem;
    background-color: #3c4761;
    width: 100%;
  }
  html body header .upper-nav .nav_right .search-wrapper .search-parent {
    width: 80%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
  html body header .upper-nav .nav_right .search-wrapper .search-parent button {
    height: 3rem;
    border: none;
    background-color: #fff;
    outline: none;
    width: 15%;
  }
  html body header .upper-nav .nav_right .search-wrapper .search-parent button i {
    font-size: 2rem;
  }
  html body header .upper-nav .nav_right .search-wrapper .search-parent .search-container {
    width: 90%;
  }
  html body header .upper-nav .nav_right .search-wrapper .search-parent .search-container #search_box {
    width: 100%;
    height: 2.9rem;
    border: none;
    outline: none;
    font-size: 1.8rem;
  }
  html body header .upper-nav .nav_right #login {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  html body header .upper-nav .nav_right #contact {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  html body header .upper-nav .nav_right #register {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  html body header .upper-nav .nav_right #account-sect {
    background-color: #3c4761;
    display: block;
    padding-bottom: 1rem;
  }
  html body header .upper-nav .nav_right #account-sect #my_account {
    color: #fff;
    background-color: #3c4761;
    font-size: 1.8rem;
    margin-left: 1.5rem;
    width: 70%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
  }
  html body header .upper-nav .nav_right #account-sect #my_account .dropdown-icon {
    margin-left: 70%;
  }
  html body header .upper-nav .nav_right #account-sect .dropdown-content {
    width: 100%;
  }
  html body header .upper-nav .nav_right #account-sect .dropdown-content a {
    line-height: 3rem;
    font-size: 1.8rem;
  }
  html body header .lower_nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  html body header .lower_nav #home {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  html body header .lower_nav #services {
    background-color: #3c4761;
    display: block;
    padding-bottom: 0.5rem;
  }
  html body header .lower_nav #services .serv-img {
    color: #fff;
    background-color: #3c4761;
    font-size: 1.8rem;
    width: 13.5rem;
    margin-top: 0.5rem;
  }
  html body header .lower_nav #projects {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  html body header .lower_nav #clients {
    background-color: #3c4761;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
  html body header .lower_nav #about {
    background-color: #3c4761;
    display: block;
    padding-bottom: 0.5rem;
  }
  html body header .lower_nav #about .about-img {
    color: #fff;
    background-color: #3c4761;
    font-size: 1.8rem;
    width: 11rem;
    margin-top: 0.5rem;
  }
  html body header .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    margin-top: 9.1rem;
    transition: 1s ease-in;
  }
  html body header .overlay img {
    height: 100%;
    width: 100%;
  }
  html body main {
    padding-top: 30rem;
    background-color: #3c4761;
  }
  html body main img {
    display: none;
  }
  html body .about-display {
    margin-top: 50rem;
    background-color: #ddd;
  }
  html body .about-display .about-container p {
    color: #3c4761;
  }
  html body .display-serv {
    margin-top: 40rem;
  }
}/*# sourceMappingURL=style.css.map */